*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
body{
    display: flex;
}

#myVideo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}
.design{
    content: " ";
    background: linear-gradient(transparent,transparent,transparent,black,black,black);
    margin-left: 1000px;
    left:-50%;
}
.menu{
    position:relative;
    margin-left: 70%;
    margin-top: 10vh;
    color: aqua;
}
.home-button{
    position: relative;
    margin: 10px;
}
.home-button:hover{
    text-decoration: underline;
}
.about-us-button{
    position: relative;
    margin: 10px;
}
.about-us-button:hover{
    text-decoration: underline;
}
.login-button{
    position:relative;
    margin: 10px;
}
.login-button:hover{
    text-decoration: underline;
}
/* .card{
    position: absolute;
}

.card button:hover{
    box-shadow: 0 0 1em;
}
.snake-button{
    position: absolute;
    background-color: yellow;
    left: 450px;
    top: 370px;
    width:150px;
    height:100px;
}

.hangman-button{
    position: absolute;
    background-color: yellow;
    width:150px;
    height:100px;
    left: 750px;
    top: 370px;
} */

.card-snake {
    position: absolute;
    overflow: visible;
    width: 190px;
    height: 254px;
    margin: 400px 500px;
}
.card-hangman {
    position: absolute;
    overflow: visible;
    width: 190px;
    height: 254px;
    margin: 400px 900px;
}
.content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}

.front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.back::before {
    position: absolute;
    content: '';
    display: block;
    width: 70%;
    height: 160%;
    background: linear-gradient(90deg, transparent,#ff9966, #ff9966, #ff9966, #ff9966, #ff9966);
    animation: rotation_481 7000ms infinite linear;
}

.back-content {
    position: absolute;
    width: 98.8%;
    height: 99%;
    background-color: #1e1e1e;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-snake:hover .content {
    transform: rotateY(180deg);
}

.card-hangman:hover .content {
    transform: rotateY(180deg);
}

@keyframes rotation_481 {
    0% {
    transform: rotateZ(0deg);
    }

    0% {
    transform: rotateZ(360deg);
    }
}

.front {
    transform: rotateY(180deg);
    color: white;
}

.front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
}

.description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.title p {
    width: 50%;
}

.card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 12px;
}

.front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width:600px){
    
    #myVideo {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%;
        object-fit: cover;
        opacity: 0.9;
    }
    .menu{
        position:absolute;
        margin-top: unset;
        bottom: 50px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        font-size: larger;
        font-weight: bold;
        width: max-content;
        color: rgb(0, 0, 0);
    }
    .home-button{
        margin: 20px;
    }
    .login-button{
        margin: 20px;
    }
    .card-snake {
        position: absolute;
        overflow: visible;
        width: 150px;
        height: 190px;
        font-size: small;
        margin: 70% 5%;
    }
    .card-hangman {
        position: absolute;
        overflow: visible;
        width: 150px;
        height: 190px;
        font-size: small;
        margin: 70% 50%;
    }
}