* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background: transparent;
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.title{
    position: absolute;
    color: lightcyan;
    align-items: center;
    padding-left: 200px;
    padding-top: 50px;  
    width: 25%; 
}
.grid {
    margin-top: 200px;
    display: grid;
    width: 700px;
    grid-row: 10rem;
    grid-template-columns: repate(auto-fit, minmax(30rem));
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-gap: 8em;
    grid-template-columns: 10fr 10fr;
    align-items: start;
    opacity: 0.8;
    /* background: url('p.jpeg') no-repeat; */
}

.grid-item {
    background-color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover {
    transform: translate(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.6);
}

.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-content {
    padding: 3rem;
}

.card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}


/* .card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4em;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.card-btn span {
    margin-left: 1em;
    transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
    background-color: #16a5dd;
}

.card-btn:hover span,
.card-btn:active span {
    margin-left: 1.5em;
} */

@media only screen and(max-width:60em) {
    body {
        padding: 3rem;
    }
}

.grid {
    grid-gap: 3rem;
}